<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.chengguo.flutter_qiniu_sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <provider
            android:name=".QiniuSDKFileProvider"
            android:authorities="${applicationId}.flutter.qiniu.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/flutter_qiniu_sdk_file_paths"/>
        </provider>
    </application>
</manifest>
